﻿body {
    background-color:rgb(0,0,0);
    
}
.ui-btn {
    margin-left: auto;
    margin-right: auto;
    }
#backgroundColor {
    height:100vh;
    width:100vw;
}

#change {
    height: 150px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#redPanel {
    height: 70px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128,0,0);
}
#greenPanel {
    height: 70px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,128,0);
}
#bluePanel {
    height: 70px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,128);
}
.titleCenter {
    text-align:center;
    color:white;
}

